<div id="banner">
	<div class="outline"></div>
	<img src="./images/bg.jpg" class="retina" inline>
	
	<div class="frame frame1">


		<img src="./images/logo.png" class="retina logo" inline>	
		

		<img src="./images/red.png" class="retina red" inline>	
		<img src="./images/txt.png" class="retina txt" inline>	
		<img src="./images/app.png" class="retina app" inline>	

		<div class="screen">
			<div class="childholder">
				<div class="child screen1">
					<img src="./images/screen_1.png" class="retina" inline>					
				</div>
				<div class="child screen2">
					<img src="./images/screen_2.png" class="retina" inline>		
				</div>
			</div>
			

		</div>

		<img src="./images/phone.png" class="retina phone" inline>	
		
	</div>
	
</div>