<div id="banner">
	<div class="outline"></div>
	<img src="./images/bg.jpg" class="retina" inline>
	
	<div class="frame frame1">
		
	<img src="./images/phone.png" class="retina phone" inline>	
	<img src="./images/logo_main.png" class="retina logo_main" inline>	
	<img src="./images/logo.png" class="retina logo" inline>	
	<img src="./images/txt1.png" class="retina txt1" inline>	
	<img src="./images/txt2.png" class="retina txt2" inline>	
	<!-- <img src="./images/phone.jpg" class="retina phone" inline>	 -->
		
	</div>
	
</div>