<div id="banner">
	<div class="outline"></div>
	<img src="./images/bg.jpg" class="retina" inline>
	
	<div class="frame frame1">
		
		<div class="screen">
			<div class="childholder">
				<div class="child red">
					<img src="./images/logo.png" class="retina logo" inline>
					<img src="./images/txt.png" class="retina txt" inline>
					<img src="./images/app.png" class="retina app" inline>	
				</div>
				<div class="child white">
					<img src="./images/avacado.jpg" class="retina avacado" inline>
				</div>
			</div>
			

		</div>
		
	</div>
	
</div>