

@import '../../../_common/styles/common.scss';



.frame1 {
	opacity: 1;
}

.screen{
	width: 100%;
	height: 100%;
	@include pos(0, 0);
	clip: rect(48px, 224px, 250px, 76px);
}
.childholder{
	width: 100%;
	height: 100%;
	@include pos(0, 201);
}
.child{
	clip: rect(48px, 224px, 250px, 76px);
	width: 100%;
	height: 100%;
	// width: 148px;
	// height: 201px;
}
.white{
	@include pos(0, 0);
}
.red{
	@include pos(0, 201);
	background-color: #eb2129;
}



#banner{
	font-size: 20px;
	color: #333;
	width: 300px;
	height: 250px;
}

